.reviews{
    @include section();
    background-color: $grey3;
    padding: 5rem 1.5rem;


    &__title {
        @include h2();
    }

    &__items {
        display: flex;
        flex-direction: column;

        @media ($tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .review {
            margin-bottom: 2.5rem;
            margin-left: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            @media ($tablet) {
                flex-basis: calc(50% - 1.6rem);
            }
        }
    }

}